*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html , body{
  height: 100%;
  width: 100%;
}


nav{
  background-color: #f3f3f3;
  width: 100%;
  height: max-content;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap:50px;
}

nav a{
  text-decoration: none;
  font-size: 26px;
  font-family: system-ui;
  font-weight: 700;
  color: royalblue;
}

nav a.active{
  color: salmon;
}